<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - PupUpWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PupUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PupUpWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8B680651C6F804200902CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B6807C1C6F804200902CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B680871C6F804200902CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B6809B1C6F806D00902CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
